:root {
  --main_colour: #8E9AAF;
  --inverse_colour: #CBC0D3;
  --third_colour: #FEEAFA ;
  /* Colour scheme - Trending Colours: 
Website, squarespace-coolours - Idea provided by: Mike Thomas */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--third_colour);
}

h1, h2, h3, h4, h5, h6 {
  font-family: arial, helvetica, sans-serif;
  color: var(--main_colour);
  margin: 0px;
}

p {
  font-family: arial, helvetica, sans-serif;
  color: var(--main_colour);
  margin: 10px 0px;
}

.page-section {
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: space-between;
}

/*#about #aboutHeader {
  grid-area: aboutHeader;
}

#about #aboutParagraph {
  grid-area: aboutParagraph;
  
}

#about {
  margin: 50px;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-areas:
  "aboutHeader aboutParagraph";
}

.mainContentImage img {
  border: 5px solid var(--inverse_colour);
}  

#work #workHeader {
grid-area: workHeader;
padding: 20px 20px 20px 20px;
}

#work #workImage1 {
  grid-area: workImage1;
  padding: 20px 20px 20px 20px;
}

#work #workImage2 {
  grid-area: workImage2;
  padding: 20px 20px 20px 20px;
}

#work #workImage3 {
  grid-area: workImage3;
  padding: 20px 20px 20px 20px;
}

#work #workImage4 {
  grid-area: workImage4;
  padding: 20px 20px 20px 20px;
}

#work #workImage5 {
  grid-area: workImage5;
  padding: 20px;
}

#work {
  margin: 50px;
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: fit-content(100%);
  grid-template-areas:
  "workHeader workImage1 workImage1"
  ". workImage2 workImage3"
  ". workImage4 workImage5";
}

#contact {
  margin: 50px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-areas:
  "contactHeader . . . . ."
  "contactHeader phoneNumber email github socialMedia1 socialMedia2";
}
  

  @media only screen and (max-width: 600px) {
    #contact {
      grid-template-areas:
      "contactHeader . . . . ."
      "phoneNumber email github socialMedia1 socialMedia2";
    }
    
    #about {
      grid-template-areas:
        "aboutHeader" 
        "aboutParagraph";
            }
  }
  */