:root {
  --main_colour: #8E9AAF;
  --inverse_colour: #FEEAFA;
  --third_colour: #CBC0D3;
  /* Colour scheme - Trending Colours: 
Website, squarespace-coolours - Idea provided by: Mike Thomas */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, {
  font-family: arial, helvetica, sans-serif;
  color: var(--main_colour);
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

